@import url('https://fonts.googleapis.com/css?family=Lato|Lora|Montserrat');
@import "lib/reset";
@import "lib/grid";
@import "helper";
@import "home";

* {
    font-family: Lora, serif;
}

$orange: #DDAD58;

@include generate-grid-classes();

.container {
    max-width: 1150px;
}

body {

}

.header {
    text-align: center;
    .logo {
        color: #363F48;
        font-weight: bold;
        display: inline-block;
        //@include font-size(3);
        font-size: 50px;
        @include padding-top(2);
        @include padding-bottom(0.2);
        //border: 1px solid red;
        margin: 0 auto;
    }
    .slogan {
        font-size: 10px;
        font-weight: bold;
        color: $orange;
        @include padding-bottom(0.5);
        letter-spacing: 1px;
    }

    hr {
        width: 80px;
        border: none; /* Убираем границу для браузера Firefox */
        color: $orange; /* Цвет линии для остальных браузеров */
        background-color: $orange; /* Цвет линии для браузера Firefox и Opera */
        height: 1px; /* Толщина линии */
        margin: 0 auto;
        @include margin-bottom(2);
    }
}

.row [class^="col-"] {
    //background: lightyellow;
    //border: 1px solid grey;
}

nav {
    position: relative;

    &:before {
        position: absolute;
        left: 0;
        top: 45%;
        content: "";

        border-bottom: 1px dotted #DDBE86;
        height: 0;
        width: 100%;
        z-index: -1;
    }

    ul {
        height: inherit;
        display: inline-block;
        list-style-type: none;
        background-color: white;
        li {
            float: left;

            padding: 0 10px;
            a {
                color: #444;

                &:hover {
                    color: #DFBE95;
                }
            }
        }

        &:after {
            display: table;
            content: "";
            clear: both;
        }
    }
}

.featured {
    @include padding-top(2);
}

.featured-item {
    padding-bottom: 15px;
    a.preview {
        display: block;
        height: 260px;

        outline: 2px solid white;
        outline-offset: -15px;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .info {
        text-align: center;
        color: #6a6359;
        font-size: 13px;
        padding: 10px 0;
        .category {
            a {
                color: inherit;

                &:before, &:after {
                    height: 1px;
                    width: 15px;
                    display: inline-block;
                    content: '';
                    background-color: #DDBE86;
                    -webkit-transition: 300ms;
                    -moz-transition: 300ms;
                    -o-transition: 300ms;
                    transition: 300ms;
                    margin: 4px 5px;
                }
            }
        }

        .title {
            padding: 5px 0;
            a {
                color: inherit;
            }
        }
    }
}