<% include ./parts/header.ejs %>

<div class="main">
    <div class="container">
        <div class="row">
            <% for(var i = 0; i < 0; i++){ %>
            <div class="col-small-12 col-medium-6 col-large-4">
                <% include ./parts/post-preview-item.ejs %>
            </div>
            <% } %>
        </div>
    </div>
</div>

<% include ./parts/footer.ejs %>