<% include ./parts/header.ejs %>

<section class="featured">
    <div class="container">
        <div class="row">
            <div class="col-small-12 col-medium-6 col-large-3 ">
                <% let item = {src: "/img/1.jpg", title: "I ordered a dish and finally it arrived"} %>
                <% include ./parts/featured-item.ejs %>
            </div>
            <div class="col-small-12 col-medium-6 col-large-3 ">
                <% item = {src: "/img/2.jpg", title: "I ordered a dish and finally it arrived"} %>
                <% include ./parts/featured-item.ejs %>
            </div>
            <div class="col-small-12 col-medium-6 col-large-3 ">
                <% item = {src: "/img/3.jpg", title: "I ordered a dish and finally it arrived"} %>
                <% include ./parts/featured-item.ejs %>
            </div>
            <div class="col-small-12 col-medium-6 col-large-3 ">
                <% item = {src: "/img/4.jpg", title: "I ordered a dish and finally it arrived"} %>
                <% include ./parts/featured-item.ejs %>
            </div>
        </div>
    </div>
</section>
<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-small-12 col-medium-12 col-large-8">
                <div class="row">
                    <% for(var i = 0; i < 6; i++){ %>
                    <div class="col-small-12 col-medium-6 col-large-6">
                        <% include ./parts/post-preview-item.ejs %>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="col-small-12 col-medium-12 col-large-4">
                <aside>
                    <section class="about-author">
                        <h2>ABOUT AUTHOR</h2>
                        <div class="img-wrapper">
                            <img src="/img/author.jpg" alt="author">
                        </div>
                        <div class="text">
                            Хорошая девочка Лида

                            Вдоль маленьких домиков белых
                            акация душно цветет.
                            Хорошая девочка Лида
                            на улице Южной живет.

                            Ее золотые косицы
                            затянуты, будто жгуты.
                            По платью, по синему ситцу,
                            как в поле, мелькают цветы.

                            И вовсе, представьте, неплохо,
                            что рыжий пройдоха апрель
                            бесшумной пыльцою веснушек
                            засыпал ей утром постель.
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>
</section>


<% include ./parts/footer.ejs %>