<% include ./parts/header.ejs %>

<section class="post-page">
    <div class="container">
        <div class="row">
            <div class="col-small-12 col-medium-12 col-large-8">
                <%- include("./parts/post-item", {post:post}); %>
            </div>
            <div class="col-small-12 col-medium-12 col-large-4">
                <aside>
                    <section class="about-author">
                        <h2>ABOUT AUTHOR</h2>
                        <div class="img-wrapper">
                            <img src="/author.jpg" alt="author">
                        </div>
                        <div class="text">
                            Хорошая девочка Лида

                            Вдоль маленьких домиков белых
                            акация душно цветет.
                            Хорошая девочка Лида
                            на улице Южной живет.

                            Ее золотые косицы
                            затянуты, будто жгуты.
                            По платью, по синему ситцу,
                            как в поле, мелькают цветы.

                            И вовсе, представьте, неплохо,
                            что рыжий пройдоха апрель
                            бесшумной пыльцою веснушек
                            засыпал ей утром постель.
                        </div>
                    </section>
                    <% include ./parts/popular-posts.ejs%>
                </aside>
            </div>
        </div>
    </div>
</section>


<% include ./parts/footer.ejs %>