<section class="post-preview">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><%= post.title %>
                <% if(!post.getIsPublic()) { %>
                <span class="badge badge-secondary">Черновик</span>
                <% } %>
            </h4>
            <p class="card-text"><%= post.annotation %></p>
            <a href="/admin/edit/<%= post.url %>" class="btn btn-primary">Редактировать</a>
            <a href="#" class="btn btn-danger">Удалить</a>
        </div>
    </div>
</section>