<footer>
    <div class="container">
        <ul class="footer-menu">
            <li><a href="/terms">Terms of User Agreement</a></li>
            <li><a href="/privacy_policy">Privacy Policy</a></li>
            <li><a href="/support">Support</a></li>
            <li><a href="/" class="copyright">© online-stiry.ru</a></li>
        </ul>
    </div>
</footer>

</body>
</html>