<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="/all.min.css">
</head>
<body>
<header class="header">
    <div class="container">
        <a href="/" class="logo">
            ONLINE - STORY
        </a>
        <div class="slogan">НЕМНОЖКО РЕАЛЬНЫЕ ИСТОРИИ</div>
        <hr>
        <nav class="title2">
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/random-chat">DOWNLOAD</a>
                </li>
                <li>
                    <a href="/blog">ABOUT ME</a>
                </li>
                <li>
                    <a href="/blog">CONTACT</a>
                </li>
            </ul>
        </nav>
    </div>

</header>